APP_NAME="Cactu Pachanoi"
APP_ENV=prod
APP_KEY=base64:EWXtz1Zg33arsN9fdqhXUiqDYEnjS2T2UAyfoepaUCc=
APP_DEBUG=true
APP_URL=http://cactu.test/

LOG_CHANNEL=stack
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=debug

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=laravel
DB_USERNAME=root
DB_PASSWORD=

BROADCAST_DRIVER=log
CACHE_DRIVER=file
FILESYSTEM_DISK=local
QUEUE_CONNECTION=sync
SESSION_DRIVER=database
SESSION_LIFETIME=120

MEMCACHED_HOST=127.0.0.1

REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_MAILER=smtp
MAIL_HOST=mailpit
MAIL_PORT=1025
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_ENCRYPTION=null
APP_DOMAIN=cactu.org.ec
MAIL_FROM_ADDRESS="admin@${APP_DOMAIN}"
MAIL_FROM_NAME="${APP_NAME}"

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=us-east-1
AWS_BUCKET=
AWS_USE_PATH_STYLE_ENDPOINT=false

PUSHER_APP_ID=
PUSHER_APP_KEY=
PUSHER_APP_SECRET=
PUSHER_HOST=
PUSHER_PORT=443
PUSHER_SCHEME=https
PUSHER_APP_CLUSTER=mt1

VITE_APP_NAME="${APP_NAME}"
VITE_PUSHER_APP_KEY="${PUSHER_APP_KEY}"
VITE_PUSHER_HOST="${PUSHER_HOST}"
VITE_PUSHER_PORT="${PUSHER_PORT}"
VITE_PUSHER_SCHEME="${PUSHER_SCHEME}"
VITE_PUSHER_APP_CLUSTER="${PUSHER_APP_CLUSTER}"

MAIL_ADMIN="${MAIL_FROM_ADDRESS}"
NAME_ADMIN="Super Admin"
PASS_ADMIN="${MAIL_FROM_ADDRESS}"

ADMIN_NAME=Admin
ADMIN_EMAIL=admin@${APP_DOMAIN}
ADMIN_ROLE_NAME="super_admin"

GOOGLE_MAPS_API_KEY=AIzaSyD0Ko6qUa0EFuDWr77BpNJOdxD-QLstjBk
GOOGLE_MAPS_DEFAULT_LAT=-1.2609849496302472
GOOGLE_MAPS_DEFAULT_LNG=-78.62266403802775

WHATSAPP_API_TOKEN=EAAFZBOUFN2ZBQBOwpLX0ZBAXIlfWZCB46Y8nGzshQmG2WWtCHLWq7ms9nxWENsZAlj0MHtfMGWtT4yZBeHrZBERjrnt1LSIGFQY720HseiO9LLzY1DFCaid3jKZCC6nATUK0h2ZADlzUvLqjX6OQPsZBzAIJHPZANxO9qSVcOvRO5d0uZAImXFjvsfAJkPdWp8MECExAZAybZBpWW9HCZBcTNxNW7sZD
WHATSAPP_API_PHONE_NUMBER_ID=255764720944895
WHATSAPP_API_BUSINESS_ID=240297092497020
WHATSAPP_API_URL="https://graph.facebook.com/v19.0/${WHATSAPP_API_PHONE_NUMBER_ID}/messages"
WHATSAPP_API_TOKEN_VERIFICATION=CACTU

SIGNATURE_SIZE=2
SIGNATURE_LINE_MIN_WIDTH=0.5
SIGNATURE_LINE_MAX_WIDTH=2.5
SIGNATURE_THROTTLE=16
SIGNATURE_MIN_DISTANCE=5
SIGNATURE_MIN_VELOCITY_FILTER_WEIGHT=0.7
SIGNATURE_HEX_PEN_COLOR="#454ff5"
SIGNATURE_HEX_DARK_PEN_COLOR="#454ff5"

